{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contraseña Restablecida - Graf</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body class="login-body">
    <div class="login-container">
        <h2>¡Contraseña cambiada con éxito!</h2>
        <p>Tu contraseña ha sido restablecida correctamente. Ya puedes iniciar sesión de forma segura con tus nuevas credenciales.</p>
        
        <a href="{% url 'login' %}" class="btn-primary" style="display: block; text-align: center; text-decoration: none; margin-top: 20px;">Iniciar Sesión</a>
    </div>
</body>
</html>