{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Enlace Enviado - Graf</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body class="login-body">
    <div class="login-container">
        <h2>¡Correo de recuperación enviado!</h2>
        <p>Te hemos enviado un correo con las instrucciones para restablecer tu contraseña. Si no lo recibes en unos minutos, revisa tu carpeta de correo no deseado (SPAM).</p>
        
        <p><em>(Nota de desarrollo: Como estamos en modo de prueba local, revisa la terminal/consola de Docker Desktop; allí verás impreso el correo con el enlace de recuperación).</em></p>
        
        <div class="login-footer">
            <a href="{% url 'login' %}">Volver al Login</a>
        </div>
    </div>
</body>
</html>